body {
    font-size: 14px;
}

.navbar-inverse .navbar-nav>li>a.active,
.navbar-inverse .navbar-nav>li>a.active:focus,
.navbar-inverse .navbar-nav>li>a.active:hover {
    color: #ffffff;
    background-color: #0c7cd5;
}

.label {
    font-size: 85%;
}

.component-header {
    margin-bottom: 10px;
    padding-right: 15px !important;
}

.input-group-margined {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-margin-left {
    margin-left: 5px;
}

.btn-noshadow {
    box-shadow: none;
}

.btn-normal-case {
    text-transform: none;
}

.row-margin-top {
    margin-top: 10px;
}

.row-margin-bottom {
    margin-bottom: 10px;
}

.label-margined {
    margin-right: 5px;
}

#container > .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.container-fluid > .row {
    margin-left: 0;
    margin-right: 0;
}

.CodeMirror {
    height: 500px !important;
    border: 1px solid rgba(0,0,0,0.1);
}

.testResults {
    overflow: auto;
    max-height: 260px;
}

.version-input {
    width: 70px;
    text-align: center;
    float: left;
}

.component-toggle {
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.input-error-text {
    position: fixed;
    margin-top: -4px;
}

.user {
    font-weight: bold;
}

.component {
    font-weight: bold;
}

.user-self {
    color: #303F9F;
}
